{% extends "base_list.html" %}
{% load staticfiles %}
{% block head_gv %}
    <script type="text/javascript" src="{% static 'js/controllers/controller.dependence.js' %}"></script>
{% endblock  %}

{% block title_html %}
   Dependência
{% endblock %}

{% block h1 %}
   Dependência
{% endblock %}

{% block controller %}
     controller_dependence
{% endblock controller %}

{% block grid_columns %}
    <th>ID</th>
    <th>Descrição</th>
{% endblock grid_columns %}

{% block grid_rows %}
    <tbody>
    <tr  ng-repeat="obj in objects" >
        <td>
            <label>
                <input type="checkbox" ng-model="obj.check" ng-click="toggleCheck(obj)"/>
            </label>
        </td>
        <td ng-bind="obj.id">
        </td>
        <td ><a ng-href="{[{ urldetail + obj.id }]}" ng-bind="obj.dependence"></a>
        </td>
    </tr>
    </tbody>
{% endblock %}

{% block content_block %}

{% endblock content_block %}

{% block script_gv %}

{% endblock %}