{% extends "base_list.html" %}
{% load staticfiles %}
{% block head_gv %}
    <script type="text/javascript" src="{% static 'js/controllers/controller.dependence.js' %}"></script>
{% endblock  %}

{% block title_html %}
   Dependência
{% endblock %}

{% block h1 %}
   Dependência
{% endblock %}

{% block controller %}
     controller_dependence
{% endblock controller %}

{% block grid_columns %}
    <th>ID</th>
    <th>Descrição</th>
{% endblock grid_columns %}

{% block grid_rows %}
    <tbody>
    <tr ng-repeat="obj in objects" >
        <td>
            <input type="checkbox" ng-checked="value_checked(obj)" ng-click="toggleCheck(obj)" title=""/>
            <!--<input type="checkbox" checkbox-group title=""/>-->
        </td>
        <td ng-bind="obj.id">
        </td>
        <td ng-bind="obj.dependence">
        </td>
    </tr>
    </tbody>
{% endblock %}

{% block content_block %}
    {% verbatim %}
        {{checked_dependence}}
    {% endverbatim %}
{% endblock content_block %}

{% block script_gv %}

{% endblock %}