{% extends "base_form.html" %}
{% load static  %}
{% block title_html %}
   Dependencia
{% endblock %}

{% block h1 %}
    Dependencia
{% endblock %}

{% block head_frm %}
    <script type="text/javascript" src="{% static 'js/controllers/controller.dependence.js' %}"></script>
{% endblock  %}

{% block controller %}
     controller_dependence
{% endblock controller %}

{% block form_fields %}
    <!--<li>
        <label for="txt_dependence">Dependencia:</label>
        <input id="txt_dependence" name="txt_dependence" ng-model="model_dependence.dependence" required="" placeholder="Dependência" type="text" />
        <div ng-show="form.$submitted || form.txt_dependence.$touched">
          <span ng-show="form.txt_dependence.$error.required">Este campo é obrigatório.</span>
        </div>
    </li>-->
    {{ form.as_ul }}
    <div ng-show="form.$submitted || form.dependence.$touched">
      <span ng-show="form.dependence.$error.required">Este campo é obrigatório.</span>
    </div>
    {[{ model_dependence.dependence }]}
{% endblock %}