{% extends "base.html" %}
{% load static  %}
{% block head %}

    {% block head_gv %}

    {% endblock head_gv %}
{% endblock  %}

{% block article_content %}
    {% csrf_token %}
    <ul>
        <li><button id="bt_grd_new" onclick="window.location ='{{ link_new }}'">Novo</button></li>
        <li><button id="bt_grd_edit">Editar</button></li>
        <li><button id="bt_grd_delete">Apagar</button></li>
    </ul>
    <table id="grd_data_view">
        <caption>{{ caption }}</caption>
        <thead>
            <tr>
              <td width="2%"><label for="check_all"></label><input type="checkbox" id="check_all" name="check_all" /></td>
              {% block grid_columns %}
              {% endblock grid_columns %}

              <th colspan="2" width=16% class="tb_cont">
                <span style="margin-left:15px;margin-right:15px;">
                      {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
              </th>
            </tr>
        </thead>
        <tbody>
            {% block grid_rows %}

            {% endblock grid_rows %}
        </tbody>
        {% if is_paginated %}
        <tfoot>
            <tr>
                <td colspan="3"> </td>
                <td>
                    {% if page_obj.has_previous %}
                        <button id="bt_prev_register" onclick="window.location ='{{ link_list }}?page={{ page_obj.previous_page_number }}'">Anterior</button>
                    {% else %}
                        <button id="bt_prev_register" onclick="window.location ='{{ link_list }}'" disabled="true" >Anterior</button>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <button id="bt_next_register" onclick="window.location ='{{ link_list }}?page={{ page_obj.next_page_number }}'">Próximo</button>
                    {% else %}
                        <button id="bt_next_register" onclick="window.location ='{{ link_list }}'" disabled="true" >Próximo</button>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
{% endblock %}

{% block scripts %}
{% block script_gv %}

{% endblock script_gv %}
<script type="text/javascript">
</script>

{% endblock %}