{% extends "base.html" %}
{% load static  %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/controllers/controller.base_list.js' %}"></script>
    {% block head_gv %}

    {% endblock head_gv %}
{% endblock  %}

{% block article_content %}
    {% csrf_token %}
    <ul ng-controller="controller_gridview">
        <li><button id="bt_grd_new" onclick="window.location ='{{ link_new }}'">Novo</button></li>
        <li><button id="bt_grd_edit" ng-click="edit_button()" >Editar</button></li>
        <li><button id="bt_grd_delete">Apagar</button></li>
    </ul>
    <table id="grd_data_view">
        <caption>{{ caption }}</caption>
        <thead>
            <tr>
                <td width="2%"><label for="check_all"></label><input type="checkbox" id="check_all" name="check_all"  /></td>
                {% block grid_columns %}

                {% endblock grid_columns %}
                <th>value1 = <p ng-bind="check_gridview.checked"></p></th>
            </tr>
        </thead>
        {% block grid_rows %}

        {% endblock grid_rows %}
        <tfoot>
            <tr>
                <td colspan="2"><a href="#" ng-click="get_prevpage()">&lt;</a></td>
                <td colspan="2">Pagina:{% verbatim %} {{ actualpage  }} de {{ get_pagecount() }}{% endverbatim %}</td>
                <td colspan="2"><a href="#" ng-click="get_nextpage()">&gt;</a></td>
            </tr>
        </tfoot>
    </table>
    {% block content_block %}
    {% endblock content_block %}
{% endblock %}

{% block scripts %}
{% block script_gv %}

{% endblock script_gv %}
<script type="text/javascript">
$(document).ready(function() {
    /******************** prompt confirmation **************************/
    $("#bt_grd_delete").click(function () {
        var ret = show_confirmation('success', 'hello', function () {
            //confirmed();
        });
    });
});
</script>


{% endblock %}