{% extends "base.html" %}
{% load static  %}

{% block head %}

    {% block head_det %}

    {% endblock head_det %}

    <script type="text/javascript" src="{% static 'js/controllers/controller.base_detail.js' %}"></script>
{% endblock  %}

{% block article_content %}
   <ul ng-controller="controller_base_detail">
       <li><button id="bt_grd_new"  ng-click="url_location('{{ link_list }}')" class="btn btn-primary">Lista</button></li>
       <li><button id="bt_grd_new"  ng-click="url_location('{{ link_new }}')" class="btn btn-primary">Novo</button></li>
       <li><button id="bt_grd_edit" ng-click="url_location('{{ link_edit }}')" class="btn btn-primary">Editar</button></li>
       <li><button id="bt_grd_delete"  ng-click="url_delete('{{ link_delete }}', '{{ link_list }}')" class="btn btn-danger">Apagar</button></li>
   </ul>
   {% block detail_object %}

   {% endblock detail_object %}

{% endblock  %}