{% load staticfiles %}{% load firstof from future %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"pt-br" }}" ng-app="appNUPAIG">
<head>
	<title>{% block title_html %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'js/lib/angular-1.3.15.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/lib/noty/packaged/jquery.noty.packaged.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/request.js' %}"></script>
    {% block head %}

    {% endblock head %}
</head>
<body ng-controller="{% block controller %}{% endblock controller %}">
    {% autoescape on %}
    <h4>NUPAIG - {% block h1 %}{% endblock %}</h4>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'principal:list_dependence' %}">Dependencia</a></li>
    </ul>
    <ul>
        {% if user.is_authenticated %}
       <li><strong>{% firstof user.get_short_name user.get_username %}</strong>.</li>
       <li><a href="{% url 'mordor:logout' %}">{% trans "log out"|capfirst %}</a></li>
       {% else %}
       <li><a href="{% url 'mordor:login' %}">{% trans "log in"|capfirst %}</a></li>
       <li><a href="{% url 'mordor:register' %}">{% trans "sign up"|capfirst %}</a></li>
       {% endif %}
    </ul>
    <article>
    	{% block article_content %}{% endblock %}
    </article>
    {% endautoescape %}

    <script type="text/javascript">
    function show_confirmation(type, text, callback) {
        var n = noty({
            text        : text,
            type        : type,
            dismissQueue: true,
            layout      : 'top',
            closeWith   : ['click'],
            theme       : 'relax',
            maxVisible  : 5,
            modal       : true,
            animation   : {
                open  : 'animated bounceInLeft',
                close : 'animated bounceOutRight',
                easing: 'swing',
                speed : 500
            },
            buttons     : [
            {addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                //callback();
                $noty.close();
            }
            },
            {addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                $noty.close();
            }
            }
            ]
        });
    }
    function show_notification(type, text) {
        var n = noty({
            text        : text,
            type        : type,
            dismissQueue: true,
            layout      : 'top',
            closeWith   : ['click'],
            theme       : 'relax',
            maxVisible  : 5,
            modal       : true,
            animation   : {
                open  : 'animated bounceInLeft',
                close : 'animated bounceOutRight',
                easing: 'swing',
                speed : 500
            }
        });
    }
    </script>
    {% block scripts %}

    {% endblock scripts %}
</body>
</html>