{% extends "base.html" %}
{% load static  %}

{% block article_content %}
    <form id="form_register" method="post" action="{{ link_post }}" enctype="multipart/form-data">
    <ul class="form">
      <ul>
        <li><input type="reset" name="clear" value="Limpar" /></li>
        <li><input type="submit" name="submit" value="Salvar" /></li>
        <li><input type="button" name="cancel" onclick="window.location = '{{ link_items }}'" value="Listar"/></li>
      </ul>
    <li>{% csrf_token %}</li>
    {% block form_fields %}

    {% endblock form_fields %}
    </ul>
    </form>
{% endblock  %}