{% extends "base.html" %}
{% block title_html %}
   Remover
{% endblock %}

{% block h1 %}
   Remover
{% endblock %}

{% block article_content %}
   <h3>Confirma a remoção do registro ?</h3>
   <form id="form_register" method="post" action=""
           enctype="multipart/form-data">
       <table border="1">
       {% csrf_token %}
       {{ form.as_table }}
       <tr>
           <td colspan="2"><input type="submit" name="submit" value="Deletar" />
           <input type="button" name="cancel"
                  onclick="window.location = '{% url 'principal:list_dependence' %}'"
                  value="Cancelar"/></td>
       </tr>
       </table>
   </form>
{% endblock %}